<% content_for :head do %>
  <%= javascript_include_tag 'contact_validation' %>
<% end %>

<div id="maincontent" class="contactme">
	<h1>>> Say Hello</h1>

	<div id="contactform">
		<%= render :partial => 'form'%>
	</div>
</div>

<div id="sidebar">
	<h3>Email</h3>
	<p>mark@zarzax.com</p>

	<h3>Call</h3>
	<p>(651) 560-0108 (Google Voice)</p>

	<h3>Find Me Online</h3>
	<ul>
		<li>Blog: zarzax the blog</li>
		<li>Twitter: @zarzax</li>
		<li>Skype: zarzax</li>
		<li>LinkedIn</li>
		<li>Facebook</li>
	</ul>
</div>