<div class="project-nav sidebar-content">
	<h3>Project Navigation</h3>
	<div class="project-tags">
		<% if @tags.empty? -%>
			<p>No tags defined!</p>
		<% else -%>
			<h4>Tags:</h4>
			<% @tags.each do |tag| -%>
				<%= link_to tag, :action => 'tagged', :id => tag.name%>
			<% end -%>
		<% end -%>
	</div>
	<div class="project-languages">
		<% if @languages.empty? -%>
			<p>No tags defined!</p>
		<% else -%>
			<h4>Programming Languages:</h4>
			<% @languages.each do |tag| -%>
				<%= link_to tag, :action => 'tagged', :id => tag.name%>
			<% end -%>
		<% end -%>
	</div>
</div>