

<div id="maincontent" class="projects">
	<h1>>> Delicious and Tasty Projects</h1>

<%= render :partial => 'project', :collection => @projects %>

<% if @admin -%>
	<%= link_to 'New project', new_project_path %>
<% end -%>

</div>

<%= render :partial => 'sidebar' %>
