<div id="sidebar">

	<div class="sidebar-search sidebar-content">
		<h3>Search</h3>
		<p>coming soon!</p>
	</div>
	
	<div class="featured-projects sidebar-content">
		<h3>Featured Projects</h3>
		<ul>
		<%= render :partial => 'projects/project_list', :collection => @projects %>
		</ul>
	</div>
	
	<div class="twitter-feed sidebar-content">
		<h3>Twitter Feed</h3>
		<p>coming soon!</p>
	</div>

</div>