<h2>I am Mark.</h2> 
<p>A software developer based in Minneapolis -- St. Paul area.  I specialize in web development using modern techniques, such as Human Computer Interaction and Agile Development, that I have gained through my professional, educational, and personal explorations in technology.  I love learning new things!</p>

<h2>Experiences with Open Source.</h2>
<p>I have a passion for new technology and meeting others with the same passions.  I have spent much effort in promoting and using of open technologies.  Working with the Nagios project gave me opportunity to meet many passionate individuals from around the world, build a unique skill set in programming, documentation, and communication.  As well as research and explore new technologies in visualization and interaction.</p>

<p>I have spent much effort in promoting and using of open technologies.  I benefit professionally and personally from my experience with open source.</p>