<div id="maincontent" class="aboutme">
	<h1>>> A Bit About Me</h1>
	
	<h2>I am Mark.</h2> 
	<p>A software developer based in Minneapolis -- St. Paul area.  I specialize in web development using modern techniques and design methodologies that I have gained through my professional, educational, and personal explorations in technology.  I have a research background in Human Computer Interaction that has greatly influenced my understanding and implementation of Web Usability.  I love learning new things!</p>

	<h2>Experiences with Open Source.</h2>
	<p>I have a passion for new technology and meeting others with the same passions.  I have spent much effort in promoting and using of open technologies.  Working with the Nagios project gave me opportunity to meet many passionate individuals from around the world, build a unique skill set in programming, documentation, and communication.  As well as research and explore new technologies in visualization and interaction.</p>

	<h2>Skills</h2>
	<p>Utilize a design process of wireframe and Photoshop prototypes to PHP, XHTML, Javascript, and CSS complete websites and templates -- Utilize knowledge in Computer Usability Research (HCI) on high volume websites and web applications -- Front-end and back-end web developer designing visualizations with large datasets (PHP, FLEX 3, Actionscript, Javascript) -- Designed and maintained high volume websites using PHP, Ruby and open source CMS (Drupal, Joomla, Wordpress, Mediawiki) -- Experienced Unix Consultant working with large organizations to implement scalable network monitoring solutions (Nagios, Cacti, SNMP) -- Experience in working on a large, highly public open source project Nagios -- Passion for technology and learning new programming languages and methodologies -- Excellent communications skills between both technical and non technical individuals</p>
	<p><strong>PROGRAMMING LANGUAGES:</strong> Ruby on Rails, PHP, XHTML, XML, XSLT, CSS, Javascript, jQuery, FLEX 3, Actionscript, C/C++, Java.</p>
	<p><strong>WEB SERVERS:</strong> Apache, lighthttpd, Mongrel, Passenger.</p>
	<p><strong>DBMS:</strong> MySQL, SQLite.</p>
	<p><strong>DESIGN METHODOLOGIES:</strong> MVC, Agile Programming, Human Computer Interaction, UML.</p>
	<p><strong>REVISION CONTROL SYSTEMS:</strong> GIT, SVN, CVS</p>
	
	<h2>Experience</h2>
	
	<h3>Personal Experience</h3>
	<p>I blog at http://www.zarzax.com about my experiences with programming, linux, osx, and entertainment in the Minneapolis – Saint Paul area.  My portfolio site http://www.markyoung.me is written in Ruby on Rails and showcases my programming, web, and graphics projects.  I enjoy creating interactive art and other projects using networked microprocessors, video, and movement (C/C++, MaxMSP, Arduino, sensors).</p>
	
	<h3>Nagios Enterprises LLC, Saint Paul, MN – May 2006 – January 2009</h3>
	<h4>Web Developer; Linux Consultant; Systems Administrator; Community Representative - December 2007 - January 2009</h4>
	<ul>
		<li>Proposed and assisted in implementing a major redesign of all existing Nagios related sites starting from wireframe and Photoshop prototypes to PHP, XHTML, CSS, and Javascript templates for Drupal, Joomla, and Mediawiki CMS systems.</li>
		<li>Started development of a next generation web interface to Nagios (a linux system level application).  Created visualizations for large datasets using FLEX 3, Actionscript, and a custom PHP API to a MySQL backend. </li>
		<li>Graphic Designer designing logos and user interfaces (Illustrator, Photoshop, Fireworks, SVG)</li>
		<li>Designed graphics for web branding and print media.  Including posters, t-shirts, and marketing material for Nagios promotions.</li>
		<li>Contributed patches, documentation, and performance testing that added to the usability and scalability of the Nagios project.</li>
		<li>Facilitated a move to Amazon Web Services (EC2, S3), which added security and redundancy for our web presence and customer data.  Scripted deployments and persistent data using Ruby.</li>
		<li>The sole individual in charge of our consulting branch designing and implementing monitoring solutions for large companies. (Linux, Nagios, Cacti, SNMP, RRD tool, Perl, Shell Script, Sendmail, LAMP) </li>
		<li>Represented the Nagios project internationally at conferences, user meetings, mailing lists, and community portals.</li>
		<li>Developed and maintained relationships with media, companies, contributors, and users.</li>
	</ul>


	<h4>Open Source Community Representative - May 2006 - December 2007 (Formerly Ayamon, LLC.)</h4>
	<ul>
		<li>Created and maintained the first official Nagios community site to bring together the international user base.</li>
		<li>Contributed documentation, articles, and software for the Nagios community and support sites.</li>
		<li>Designed graphics for web branding and print media.</li>
	</ul>
	
	<h3>University of Minnesota: The Office of the Vice President for Research – September 2006 – September 2008</h3>
	<h4>Contracted Consultant - June 2008 – September 2008</h4>
	<ul>
		<li>Took on the responsibilities of multiple support employees, fielding helpdesk calls and closing support tickets efficiently when the department was in need.</li>
		<li>Improved my previous network monitoring system by expanding the configuration and adding graphing and reporting metrics (Nagios, PNP4Nagios).  These reports are used in identifying problems with centralized university service providers and internal systems.  This saves the IT department time and money and allows department to be proactive instead of reacting to user problems.</li>
	</ul>
	
	<h4>Support Administrator - September 2006 - January 2008</h4>
	<ul>
		<li>Active Directory Administrator (Microsoft Server 2003)</li>
		<li>Developed a system to standardize software across multiple departments (Symantec Ghost, Active Script, Batch Script, Multicast) </li>
		<li>Hardware and Software Support (Windows XP, Novell, UMCal, Outlook, Netfiles) </li>
		<li>Implemented a redundant network monitoring system using Nagios, that alerts staff to the precise problems. </li>
	</ul>
	
	<h3>University of Minnesota: Extension Service, Saint Paul, MN – August 2004 – September 2006</h3>
	<h4>Hardware and Software Support - August 2004 - September 2006 </h4>
	<ul>
		<li>Hardware and Software support for local and remote users in 19 regional centers (Windows XP, Novell Client, UMCal, Palm, Windows Mobile)</li>
		<li>Active Directory and Novell Netware Administrator</li>
		<li>Maintained Linux servers locally and remotely in 19 regional centers around Minnesota (Red Hat Server, Samba, Shell Script, Rsync, Unison). </li>
	</ul>
	
	<h2>Education</h2>
	<h3>University of Minnesota</h3>
	<p><strong>Computer Science, Art</strong></p>
	<p>Computer Science with a focus in Human Computer Interaction and Computer Usability as well as object orientated software design.  Created interactive art installations with video, light, and sound using Arduino microprocessor and custom built circuits. </p>
	
</div>


<%= render :partial => 'sidebar' %>