<div id="maincontent" class="home">
	<h1>>> Welcome Home</h1>
	
	<div class="sub">
		<h2>
			What about
			this site?
		</h2>
	</div>
	<div class="breakout">
		<p>
			This is a very temporary page while I am doing extended work on my portfolio site. I have an open development on my ruby on rails site on <a href="http://github.com/zarzax/markyoung.me">github</a>. Check back very soon!
		</p>
	</div>
	
	<div class="clearme"></div>
	
	<div class="sub">
		<h2>
			Who am I?
		</h2>
	</div>
	<div class="breakout">
		<p>
			Hi, I am Mark Young, a software developer in Saint Paul MN specializing in web, graphic design, and usability. I am also highly experienced in system administration and network monitoring. I was a major contributor to the <a href="http://www.nagios.org">Nagios</a> open source project. I enjoy learning new technologies and meeting interesting people.
		</p>
	</div>
	
	<div class="clearme"></div>
	
	<div class="sub">
		<h2>
			Want to
			hire me?
		</h2>
	</div>
	<div class="breakout">
		<p>
			Download my <a href="/content/markyoung-resume.pdf">resume</a>, email me at <a href="mailto:mark@zarzax.com">mark@zarzax.com</a>, or call me at (651) 560-0108 (Google Voice)
		</p>
	</div>

	<div class="clearme"></div>

	<div class="sub">
		<h2>
			Want more?
		</h2>
	</div>
	<div class="breakout">
		<p>
			I can also be found on my blog <a href="http://www.zarzax.com">www.zarzax.com</a>, on <a href="http://www.linkedin.com/in/markdavidyoung">linkedIn</a>, and <a href="http://www.twitter.com/zarzax">@zarzax</a> on twitter.
		</p>
	</div>

	<div class="clearme"></div>

</div>

<%= render :partial => 'sidebar' %>