<div id="footer">
	<div id="footer-left">
		<p>This is the portfolio site for Mark Young.  A real cool dude from Saint Paul Minnesota, that loves technology, open source, social media, and interesting people.  All things on this site are &copy 2003-2009 unless noted else where.  The source code to my web site can be found on my github profile.</p>
	</div>
	<div id="footer-right">
		<p>
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</p>
	</div>
</div>